@import url('https://fonts.googleapis.com/css2?family=Nixie+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

@font-face {
    font-family: 'aaargh';
    src: url('./font/Aaargh-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rajdhani';
    src: url('./font/rajdhani-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


:root{
    --primary: #888;
    --secondary: #ccc;
    --container: #eee;
    --dark: #999;
    --light: #fff;
    --shadow: 0 1px 5px rgba(110, 110, 110, 0.8);
    --shadow2:  0 1px 5px #888;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.4;
    background: rgb(223, 223, 223);
    font-family: 'rajdhani';
    width: 100%;
    /* min-height: 1200px; */
}

#navigation {
    background: var(--secondary);
    border: 2px solid var(--dark);
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
    box-shadow: var(--shadow2);
}

#navigation ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-transform: capitalize;
    line-height: 120px;
    font-size: 30px;
    font-weight: bold;
    list-style-type: none;
    grid-gap: 50px;
}

ul li a {
    text-decoration: none;
    color:#333;
    grid-gap: 50px;
}

ul li a:hover {
    color: var(--primary);
}

#tel-Phone {
    font-size: 32px;
    color: #666;
}

#list {
    margin-left: 20px;
}

#image1 {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: var(--secondary);
    box-shadow: 0 0 5px 1px black, 0 0 5px 1px black;
}

#mainDiv {
    position: relative;
    width: 100%;
    margin: auto;
    min-height: 1220px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

#container {
    display: flex;
    justify-content: flex-start;
}

#mainWrapper {
    width: 85%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: var(--container);
    padding: 50px 70px;
    border: 2px solid var(--secondary);
    box-shadow: var(--shadow2);
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    z-index: 1;
}

#headline {
    text-shadow: 0 3px 3px rgb(148, 148, 148), 0 3px 3px rgb(126, 126, 126);
    font-size: 72px;
    color: #fff;
    margin-top: 40px;
    text-transform: uppercase;
    z-index: 1;
    margin-bottom: 40px;
}

#headline_h2 {
    margin-bottom: 30px;
    color: #333;
    font-family: 'rajdhani';
    text-transform: capitalize;
}

#paragraph {
    color:#333;
    font-size: 18px;
    font-weight: 600;
    font-family: 'rajdhani';
}

.boksovi{
    width: 85%;
    min-height: 200px;
    margin-top: 25px;
    display: grid;
    grid-gap: 25px;
    font-family: 'rajdhani';
    z-index: 1;
    color: rgb(42, 42, 42);
    grid-template-columns: repeat(4, 1fr);
}
.boks{
    background: #eee;
    text-align: center;
    font-weight: bold;
    padding: 32px 20px;
    box-shadow: var(--shadow2);
    border: 2px solid var(--secondary);
}

#firstBox {
    border-bottom-left-radius: 20px;
}

#fourthBox {
    border-bottom-right-radius: 20px;
}

h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: black;
}

#image2 {
    position: fixed;
    margin: -20px 0 0 0;
    opacity: 0.05;
    z-index: 0;
}

#paragraphBottom {
    font-family: 'Dosis', sans-serif;
    margin-top: 70px;
    margin-bottom: 70px;
    width: 85%;
    padding: 0;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    animation: slider;
    position: relative;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

#headline_h1 {
    margin-bottom: 15px;
}

@keyframes slider {
    0%  {left: -1000px}
    100% {left: 0}
}

#footerDiv {
    width: 100%;
    height: 220px;
    background: #bbb;
    box-shadow: 0 -1px 5px #888;
    border: 2px solid var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 32px;
    font-weight: bold;
    z-index: 1;
}

#footerh6 {
    font-size: 16px;
}

#h4Footer {
    padding: 0px;
    font-size: 32px;
}


@media(max-width:1250px){
    .boksovi {
        grid-template-columns: repeat(2, 1fr);
    } 

    #firstBox {
        border-bottom-left-radius: 0px;
    }

    #thirdBox {
        border-bottom-left-radius: 20px;
    }

}

@media(max-width:1100px){

    #navigation {
        flex-direction: column;
        padding: 10px;
    }
/* 
    #footerDiv {
        width: 1100px;
    }

    #mainDiv {
        width: 1100px;
    }
    #mainWrapper {
        width: 800px;
    }*/
    

    #headline {
        font-size: 42px;
        text-align: center;
    }

    #image2 {
        margin: 1200px 0 0 -500px;
        position: absolute;
        width: 600px;
    }

    .fa {
        font-size: 3em;
    }

}


@media(max-width:800px) {

    #navigation {
        flex-direction: column;
    }

    #mainWrapper {
        padding: 50px 50px;
    }

    ul#list {
        flex-direction: column;
        grid-gap: 0px;
        line-height: 50px;
        font-size: 36px;
    }

    #image1 {
        display: none;
    }

    #headline {
        font-size: 42px;
        text-align: center;
    }

    .boks {
        padding: 16px 10px;
    }

    h3 {
        font-size: 20px;
        margin-bottom: 6px;
    }

    .paragraphBox {
        font-size: 14px;
    }

    #paragraph {
        font-size: 17px;
    }

    #paragraphContainer {
        font-size: 18px;
    }

}

@media(max-width:600px) {
    #headline {
        font-size: 36px;
    }

    #headline_h2, #headline_h1 {
        font-size: 20px;
        margin-bottom: 15px;
    }
}


@media(max-width:500px) {
    .fa {
        font-size: 2em;
    }

    #mainWrapper {
        padding: 50px 30px 30px 30px;
        border-top-left-radius: 36px;
        border-top-right-radius: 36px;
    }

    h3 {
        font-size: 16px;
    }

    .paragraphBox {
        font-size: 13px;
    }

    #paragraph {
        font-size: 15px;
    }

    #paragraphContainer {
        font-size: 15px;
    }

    #paragraphBottom {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #headline {
        font-size: 30px;
    }
}

@media(max-width:400px) {

    h3 {
        font-size: 15px;
    }

    .paragraphBox {
        font-size: 12px;
    }

}

@media(max-width: 365px) {
    #headline {
        font-size: 25px;
    }
}